/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /* Fuente */
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

  body {
    font-family: 'Lato', sans-serif;
  }

  /* Globales */

  a {
      text-decoration: none;
      color: #000;
  }

  .contenedor {
      max-width: 1200px;
      margin: 0 auto;
  }

  img {
      max-width: 100%;
      display: block;
  }

  /* Header y navegacion  */
.nombre-sitio {
    margin: 50px 0;
    text-align: center;
}

.nombre-sitio span {
    color: #037bc0;
}

.contenedor-navegacion {
    border-top: 1px solid #e1e1e1;
}

.nav-principal {
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;

}

.hero {
    background-image: url('../img/principal.jpg');
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Box Model */

/* Categorias */

.categorias h2 {
    text-align: center;
}

.categoria a {
    text-align: center;
    display: block;
    padding: 20px;
    font-size: 20px;
}

.categoria a:hover {
    background-color: #037bc0;
    color: #fff;
    border-radius: 0 0 10px 0;
}

.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

